#Mobile_article {
  background-color: lightgray;
  #Banner {
    height: 100vw;
    margin-bottom: 15px;
    position: relative;
    .Btn {
      z-index: 5;
      width: 10vw;
      color: white;
      top: 50vw-5vw;
      position: absolute;
      border-radius: 5vw;
    }
    .Btn:active{
      background-color: lightgray;
    }
    .LeftBtn {
      left: 5vw;
    }
    .RightBtn {
      right: 5vw;
    }
    #ImgBox {
      img {
        width: 100%;
        height: 100vw;
        object-fit: cover;
        position: absolute;
      }
    }
  }
  #Mobile_4Sort {
    @include LiDN;
    display: flex;
    margin-bottom: 15px;
    a {
      flex: 1;
      text-align: center;
      line-height: 20vw;
      border: gray 1px solid;
      background-color: white;
    }
  }
  #Mobile_6Sort {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border: gray 1px solid;
    li {      
      white-space:nowrap;
      width: 50%;
      @include LiDN;
      line-height: 20vw;
      text-align: center;
      box-shadow: 0px 0px 1px inset;
      background-color: white;
    }
  }
  #Mobile_Sort {
    padding-bottom: 15px;
    text-align: center;
  }
  #Mobile_Ad1 {
    margin-bottom: 15px;
    h1 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
    #Ad1 {
      position: relative;
      height: 100vw;
      .Btn {
        z-index: 5;
        width: 10vw;
        height: 10vw;
        color: white;
        top: 50vw-5vw;
        font-size: 20px;
        position: absolute;
        text-align: center;
        border-radius: 5vw;
        background-color: rgba(255, 255, 255, 0.5);
      }
      .LeftBtn {
        left: 5vw;
      }
      .RightBtn {
        right: 5vw;
      }
      img {
        width: 100%;
        height: 100vw;
        object-fit: cover;
        position: absolute;
      }
    }
    h3 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
  }
  #Mobile_Ad22 {
    margin-bottom: 15px;
    h1 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
    #Ad22 {
      position: relative;
      height: 100vw;
      .Btn {
        z-index: 5;
        width: 10vw;
        height: 10vw;
        color: white;
        top: 50vw-5vw;
        font-size: 20px;
        position: absolute;
        text-align: center;
        border-radius: 5vw;
        background-color: rgba(255, 255, 255, 0.5);
      }
      .LeftBtn {
        left: 5vw;
      }
      .RightBtn {
        right: 5vw;
      }
      img {
        width: 100%;
        height: 100vw;
        object-fit: cover;
        position: absolute;
      }
    }
    h3 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
  }
  #Mobile_Ad3 {
    margin-bottom: 15px;
    h1 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
    #Ad3 {
      position: relative;
      height: 100vw;
      .Btn {
        z-index: 5;
        width: 10vw;
        height: 10vw;
        color: white;
        top: 50vw-5vw;
        font-size: 20px;
        position: absolute;
        text-align: center;
        border-radius: 5vw;
        background-color: rgba(255, 255, 255, 0.5);
      }
      .LeftBtn {
        left: 5vw;
      }
      .RightBtn {
        right: 5vw;
      }
      img {
        width: 100%;
        height: 100vw;
        object-fit: cover;
        position: absolute;
      }
    }
    h3 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
    }
  }
}
#Web_article{
  #Web_Items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background-color: white;
    justify-content: space-between;
    .Item {
      width: 50%;
      .images {
        a{
          img{            
          width: 50vw;
          height: 50vw;
          object-fit: cover;
          }
        }
      }
      .script1 {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
      }
      .script2 {
        padding: 5px 10px;
        .name {
          font-size: larger;
          font-weight: bolder;
        }
        .sales {
          font-weight: bolder;
          color: red;
        }
        .origin {
          font-size: smaller;
        }
      }
    }
  }
}
